body{
    background-color: #777777;
    background-image: url(./Image/img.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 560px;
    width: 108px;
    margin: auto;
    padding: 108px 512 px 580px 560px;
    /* margin: 10px, 20px; */

}