/* body{
    background-image: url(./Images/img1.jpg);
    background-size: cover;
    background-repeat: no repeat;
    height: 100vh;
    background-position: center;
} */

/* button{
    padding: 6px 12px;
    background-color: red;
    color: white;
    
} */

/* button{
    padding: 6px 12px;
    background-color: red;
    color: white;
    border: 2px dotted #ad0000;
    outline: 2px solid #ff8c8c;
    outline-offset: 4px;
    margin: 20px;

} */

.solid-btn{
    padding: 6px 12px;
    background-color: red;
    color: white;
    border: 2px dotted #ad0000;
    outline: 2px solid #ff8c8c;
    outline-offset: 4px;
    margin: 20px;

}

.outline-btn{
    padding : 6px 12px;
    color: red;
    background-color: white;
    border: 2px red solid;
    border-radius: 50px;


}